/* Novo CSS para Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1976d2;
  color: white;
  padding: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
  text-decoration: none
}
.sidebar-logo{  
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}
.fa {
    margin-right: 10px;
    font-size: 1.5rem; 
}